<nav class="mobile-header-bottom">
  <div class="mobile-wrap-header-nav">
    <nav class="mobile-gnb">
      <div class="mobile-left">
        <ul class="mobile-list-nav">
          {% for link in section.settings.navigation.links %}
            <li class="mobile-nav-item gnb-item">
              <a class="link" href="{{link.url}}"
                ><span>{{ link.title }}</span></a
              >
              {% if link.links != blank %}
                <div class="wrap-list-nav-sub sub-menu" style="display:none">
                  <ul class="mobie-list-nav-sub">
                    {% for childlink in link.links %}
                      <li class="mobile-nav-item-sub">
                        <div class="mobile-tit-sub-area">
                          <a href="{{childlink.url}}" class="txt-tit">{{ childlink.title | escape }}</a>
                        </div>
                        <ul class="list-nav-grandchild list-unstyled">
                          {% for grandchildlink in childlink.links %}
                            <li class="nav-grandchild-item">
                              <a class="link" href="{{grandchildlink.url}}"
                                ><span>{{ grandchildlink.title | escape }}</span></a
                              >
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="mobile-right">
        <ul class="mobile-list-nav">
          {% for link in section.settings.sideMenu.links %}
            <li class="mobile-nav-item">
              <a class="link" href="{{link.url}}"
                ><span>{{ link.title }}</span></a
              >
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</nav>
