<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    {{ content_for_header }}

    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'bootstrap.css' | asset_url | stylesheet_tag }} {% endcomment %}

    {% comment %} {{ 'bootstrap5-3.css' | asset_url | stylesheet_tag }} {% endcomment %}

    {{ 'bootstrap-reboot.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap.grid.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap-utilities.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'header' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% comment %} {{ content_for_layout }} {% endcomment %}
    {% comment %} <div style="height:500px"></div> {% endcomment %}
    {% section 'footer' %}
  </body>
</html>
