<footer class="footer">
  <div class="container">
    <div class="footer-top row">
      {% for block in section.blocks %}
        {% if block.type == 'navigation' %}
          <div class="col">
            <h3 class="h6 title">{{ block.settings.linklist.title }}</h3>
            <ul class="list-sub">
              {% for link in block.settings.linklist.links %}
                <li>
                  <a href="{{link.url}}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

        {% elsif block.type == 'newsletter' %}
          <div class="col">
            <h3 class="h6 title">{{ block.settings.heading }}</h3>
            <p>{{ block.settings.text }}</p>

            {% form 'customer', id: 'footer-newsletter' %}
              {% if form.posted_successfully %}
                <p>You've been subscribed!</p>
              {% endif %}
              {% if form.errors %}
                <p>{{ form.erros.messages.email }}</p>
              {% endif %}

              <input type="hidden" name="contact[tag]" vale="newsletter">
              <input name="contact[email]" type="email" placeholder="Email address">
              <button type="submit">Subscribe</button>
            {% endform %}
          </div>
        {% elsif block.type == 'text' %}
          <div class="col">
            <h3 class="h6 title">{{ block.settings.heading }}</h3>
            <p>{{ block.settings.text }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="footer-bottom row">
      <div class="col">
        <p class="title">{{ section.settings.copyright }}</p>
        <p class="descrip">{{ section.settings.heading }}</p>
      </div>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "id": "copyright",
      "label": "Copyright text",
      "type": "text"
    },
    {
      "id": "heading",
      "label": "Heading",
      "type": "text"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Body text"
        }
      ]
    },
    {
      "name": "Navigation colum",
      "type": "navigation",
      "settings": [
        {
          "id": "linklist",
          "type": "link_list",
          "label": "Navigation menu"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "id": "heading",
          "type": "text",
          "label": "Heading text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Body text"
        }
      ]
    }
  ]
}
{% endschema %}
