{% assign main_menu = linklists['all-menu'] %}
<div class="width">
  {% comment %}
    {%- liquid
      if section.settings.menu != blank
        if section.settings.menu_type_desktop == 'dropdown'
          render 'header-dropdown-menu'
        elsif section.settings.menu_type_desktop != 'drawer'
          render 'header-mega-menu'
        endif
      endif
    %}
  {% endcomment %}

  {% comment %} header top [logo, hamburger, uitl menu] {% endcomment %}
  <div class="header-top">
    <div class="cus-col">
      <div class="logo-area">
        <a href="/" class="logo"
          ><img
            src="{{ section.settings.logo | img_url: 'master' }}"
            alt="{{site.name}}"
            width="{{ section.settings.logo_width }}"
        ></a>
      </div>
      <div class="search-area">
        <form action="{{ routes.search_url }}">
          <div class="input-group">
            <input
              class="form-control"
              type="text"
              placeholder="キーワード検索"
              name="q"
              value="{{ search.terms | escape }}"
            >

            <button class="btn-init btn-icon-search" type="button">
              <i>{%- render 'icon_search' -%}</i>
            </button>

            <input type="hidden" name="type" value="product,page">
            <input type="hidden" name="options[unavailable_products]" value="hide">
            <input type="hidden" name="options[prefix]" value="last">
          </div>
        </form>
      </div>
    </div>
    <button class="header-hamburger d-sm-block d-md-none">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
    <div class="cus-col">
      <div class="util-area">
        <ul class="list-util">
          {% for link in section.settings.utilMenu.links %}
            <li class="util-item">
              {% if link.title == 'ログイン' %}
                <a class="link" href="{{ link.url }}">
                  <i>{%- render 'icon_person' -%}</i>
                  <span class="txt">{{ link.title }}</span></a
                >
              {% elsif link.title == 'カート' %}
                <a class="link" href="{{ link.url }}">
                  <i>{%- render 'icon_cart' -%}</i>
                  <span class="txt">{{ link.title }}</span></a
                >
              {% elsif link.title == 'ヘルプ' %}
                <a class="link" href="{{ link.url }}">
                  <i>{%- render 'icon_ear' -%}</i>
                  <span class="txt">{{ link.title }}</span></a
                >
              {% else %}
                <a class="link" href="{{ link.url }}"
                  ><span class="txt">{{ link.title }}</span></a
                >
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="wrap-header-nav">
      <nav class="gnb">
        <div class="left">
          <div class="cate">
            <button class="btn-cate">
              <span class="icon-hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </span>
              <span class="txt-menu">
                <span>カテゴリー</span>
              </span>
            </button>
            <div class="wrap-gnb-container">
              <div class="wrap-gnb-inner-container">
                <div class="cus-col menu">
                  <div class="tit-cate-area">
                    <h1 class="txt-tit">
                      {{ main_menu.title }}
                    </h1>
                  </div>
                  <ul class="list-cate">
                    {% for link in section.settings.allMenu.links %}
                      <li class="cate-item">
                        <a class="link" href="{{link.url}}"
                          ><span>{{ link.title }}</span></a
                        >
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="cus-col trend">
                  <div class="tit-trend-area">
                    {% if section.settings.tit_trend != black %}
                      <h1 class="txt-tit">{{ section.settings.tit_trend }}</h1>
                    {% endif %}
                  </div>
                  <ul class="list-trend">
                    <li class="trend-item">
                      <a href=""
                        ><span>{{ section.settings.trend_01 }}</span></a
                      >
                    </li>
                    <li class="trend-item">
                      <a href=""
                        ><span>{{ section.settings.trend_02 }}</span></a
                      >
                    </li>
                    <li class="trend-item">
                      <a href=""
                        ><span>{{ section.settings.trend_03 }}</span></a
                      >
                    </li>
                    <li class="trend-item">
                      <a href=""
                        ><span>{{ section.settings.trend_04 }}</span></a
                      >
                    </li>
                    <li class="trend-item">
                      <a href=""
                        ><span>{{ section.settings.trend_05 }}</span></a
                      >
                    </li>
                  </ul>
                </div>
                <div class="cus-col banner">
                  <a
                    class="link"
                    hrf="{{section.settings.banner01_link}}"
                    style="display:block;max-width: min(100%, {{ section.settings.banner01_width }}px);"
                  >
                    <img loading="lazy" src="{{ section.settings.banner01 | img_url: 'master' }}" width="100%">
                    <p>{{ section.settings.banner01_title }}</p>
                  </a>

                  <a
                    class="link"
                    hrf="{{section.settings.banner02_link}}"
                    style="display:block;max-width: min(100%, {{ section.settings.banner02_width }}px);"
                  >
                    <img loading="lazy" src="{{ section.settings.banner02 | img_url: 'master' }}" width="100%">
                    <p>{{ section.settings.banner02_title }}</p>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <ul class="list-nav">
            {% for link in section.settings.navigation.links %}
              <li class="nav-item gnb-item">
                <a class="link" href="{{link.url}}"
                  ><span>{{ link.title }}</span></a
                >
                {% if link.links != blank %}
                  <div class="wrap-list-nav-sub sub-menu" style="display:none">
                    <ul class="list-nav-sub">
                      {% for childlink in link.links %}
                        <li class="nav-item-sub">
                          <div class="tit-sub-area">
                            <a href="{{childlink.url}}" class="txt-tit">{{ childlink.title | escape }}</a>
                          </div>
                          <ul class="list-nav-grandchild list-unstyled">
                            {% for grandchildlink in childlink.links %}
                              <li class="nav-grandchild-item">
                                <a class="link" href="{{grandchildlink.url}}"
                                  ><span>{{ grandchildlink.title | escape }}</span></a
                                >
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="right">
          <ul class="list-nav">
            {% for link in section.settings.sideMenu.links %}
              <li class="nav-item">
                <a class="link" href="{{link.url}}"
                  ><span>{{ link.title }}</span></a
                >
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="announce-bar">
  <div class="container">
    <div class="row justify-content-start">
      <a href="" class="col-4 link-underline-dark"
        ><span class="txt">USD20以上ご購入の場合、日本内への配送料無料</span></a
      >
      <a href="" class="col-4"><span class="txt">アプリで最大USD20割引をもらおう！</span></a>
    </div>
  </div>
</div>
<div class="header-nav-overlay"></div>

<script>
  function hamburgerMenu() {
    const header = document.querySelector('.header');
    const hamburgerIcon = document.querySelector('.header-hamburger');
    const overlay = document.querySelector('.header-nav-overlay');

    hamburgerIcon.addEventListener('click', () => {
      hamburgerIcon.classList.toggle('is-active');
      header.classList.toggle('nav-active');
      document.body.classList.toggle('fixed');
    });

    overlay.addEventListener('click', () => {
      hamburgerIcon.classList.remove('is-active');
      header.classList.remove('nav-active');
      document.body.classList.remove('fixed');
    });
  }

  function allCateMenu() {
    const btnCate = document.querySelector('.btn-cate');
    const listCate = document.querySelector('.wrap-gnb-container');
    btnCate.addEventListener('click', () => {
      listCate.classList.toggle('active');
    });
  }

  function addClassOnHover(elementSelectors, className) {
    const elements = document.querySelectorAll(elementSelectors);

    elements.forEach(function (element) {
      element.addEventListener('mouseover', function () {
        this.classList.add(className);
      });

      element.addEventListener('mouseleave', function () {
        this.classList.remove(className);
      });
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    var gnbItems = document.querySelectorAll('.gnb-item');

    gnbItems.forEach(function (item) {
      var menuItem = item.querySelector('a');
      var subMenu = item.querySelector('.sub-menu');

      menuItem.addEventListener('mouseover', function () {
        subMenu.style.display = 'block';
      });

      item.addEventListener('mouseout', function (event) {
        // 이벤트 객체의 relatedTarget 속성을 사용하여 이벤트가 발생한 요소를 가져옴
        var relatedTarget = event.relatedTarget;

        // 마우스가 서브 메뉴로 이동한 경우에는 드롭다운 메뉴를 유지함
        if (relatedTarget && (relatedTarget === subMenu || subMenu.contains(relatedTarget))) {
          return;
        }

        // 마우스가 메뉴 영역에서 벗어난 경우 드롭다운 메뉴를 숨김
        subMenu.style.display = 'none';
        {% comment %} subMenu.style.display = 'block'; {% endcomment %}
      });
    });
  });

  addClassOnHover(['.nav-item', '.cate-item', '.trend-item', '.btn-cate', '.nav-grandchild-item'], 'on');
  hamburgerMenu();
  allCateMenu();
</script>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo 160*250"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo width",
      "default": 250,
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "banner01",
      "label": "banner 01"
    },
    {
      "type": "text",
      "id": "tit_trend",
      "label": "トレンドキーワード"
    },
    {
      "id": "trend_01",
      "type": "text",
      "label": "kyword 01"
    },
    {
      "id": "trend_02",
      "type": "text",
      "label": "kyword 02"
    },
    {
      "id": "trend_03",
      "type": "text",
      "label": "kyword 03"
    },
    {
      "id": "trend_04",
      "type": "text",
      "label": "kyword 04"
    },
    {
      "id": "trend_05",
      "type": "text",
      "label": "kyword 055"
    },
    {
      "type": "text",
      "id": "banner01_link",
      "label": "Banner01 link",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "banner01_title",
      "label": "Banner01 title",
      "default": "banner 01"
    },
    {
      "type": "range",
      "id": "banner01_width",
      "label": "Banner01 width",
      "default": 200,
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "banner02",
      "label": "banner 02"
    },
    {
      "type": "text",
      "id": "banner02_link",
      "label": "Banner02 link",
      "default": "Quick links"
    },
    {
      "type": "text",
      "id": "banner02_title",
      "label": "Banner02 title",
      "default": "title"
    },
    {
      "type": "range",
      "id": "banner02_width",
      "label": "Banner02 width",
      "default": 200,
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "px"
    },
    {
      "type": "link_list",
      "id": "navigation",
      "label": "Navigation menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "utilMenu",
      "label": "Util menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "sideMenu",
      "label": "Side menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "allMenu",
      "label": "All menu",
      "default": "main-menu"
    }
  ],
  "max_blocks": 5,
  "blocks": [
    {
      "name": "Util colum",
      "type": "utilmenu",
      "settings": [
        {
          "id": "linklist",
          "type": "link_list",
          "label": "Util menu"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ]
}
{% endschema %}
