<!-- Add init="false" -->
<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <swiper-container init="false" class="swiper-container-mobile">
        {% for block in section.blocks %}
          <swiper-slide id="Slide{{block.id}}">
            <a href="">
              {% if mobie_image %}
                <img
                  class=""
                  src="{{ block.settings.mobile_image | img_url: 'master'}}"
                  width="100%"
                >
              {% endif %}
              {% if block.settings.desktop_image %}
                <img
                  class=""
                  src="{{ block.settings.desktop_image | img_url: 'master'}}"
                  width="100%"
                >
              {% endif %}
            </a>
          </swiper-slide>
        {% endfor %}
      </swiper-container>
    </div>
    <div class="col-3 small-banner">
      {% for blockimg in section.blocks %}
        <div><img src="{{blockimg.settings.small_banner_01 | img_url: 'master'}}" width="100%"></div>
        <div>
          <img src="{{blockimg.settings.small_banner_02 | img_url: 'master'}}" width="100%">
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
{% schema %}
{
  "name": "test-slide",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image",
          "info": "1560 x 1050px jpg recommended"
        },
        {
          "type": "text",
          "id": "desktop_alt",
          "label": "Desktop Alt"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image",
          "info": "750 x 1100px jpg recommended. If none is set, desktop image will be cropped."
        },
        {
          "type": "text",
          "id": "mobile_alt",
          "label": "Mobile Alt"
        },
        {
          "type": "image_picker",
          "id": "small_banner_01",
          "label": "Small Banner 01"
        },
        {
          "type": "image_picker",
          "id": "small_banner_02",
          "label": "Small Banner 02"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "test-slide"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .small-banner {
    align-content: space-between;
    display: grid;
  }
{% endstylesheet %}

{% javascript %}
  const swiperElMobile = document.querySelector('.swiper-container-mobile');

  // swiper parameters
  const swiperParamsMobile = {
    slidesPerView: 1,
    breakpoints: {
      768: {
        slidesPerView: 1,
      },
    },
    on: {
      init() {
        // ...
      },
    },
  };

  // now we need to assign all parameters to Swiper element
  Object.assign(swiperElMobile, swiperParamsMobile);

  // and now initialize it
  swiperElMobile.initialize();
{% endjavascript %}
